<div class="body-reg-usuario">
<div class="form">
    <ul class="nav nav-tabs nav-justified tab-group">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Registrarse</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Ingresar</a>
        </li>
    </ul>
    
    <!-- Tab panels -->
    <div class="tab-content">
        <!--Panel 1-->
        <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
          <h2>Registrate gratis :D</h2>
          
          <form>
            <div class="top-row">
              <div class="field-wrap">
                <label>
                  Nombre<span class="req">*</span>
                </label>
                <input type="text" required autocomplete="off" />
              </div>
          
              <div class="field-wrap">
                <label>
                  Apellidos<span class="req">*</span>
                </label>
                <input type="text"required autocomplete="off"/>
              </div>
            </div>

            <div class="field-wrap">
              <label>
                Correo electrónico<span class="req">*</span>
              </label>
              <input type="email"required autocomplete="off"/>
            </div>
            
            <div class="field-wrap">
              <label>
                Contraseña<span class="req">*</span>
              </label>
              <input type="password"required autocomplete="off"/>
            </div>

            <div class="field-wrap">
                <label>
                  Confirmar contraseña<span class="req">*</span>
                </label>
                <input type="password"required autocomplete="off"/>
            </div>
            
            <button type="submit" class="button button-block">Registrar</button>
          </form>
        </div>
        <!--/.Panel 1-->
        
        <!--Panel 2-->
        <div class="tab-pane fade" id="panel2" role="tabpanel">
          <h2>¡Bienvenido! :3</h2>
          
          <form>
            <div class="field-wrap">
              <label>
                Correo electrónico<span class="req">*</span>
              </label>
              <input type="email"required autocomplete="off"/>
            </div>
          
            <div class="field-wrap">
              <label>
                Password<span class="req">*</span>
              </label>
              <input type="password"required autocomplete="off"/>
            </div>
            
            <p class="forgot" data-toggle="modal" data-target="#nimodo"><a href="#">¿Olvidaste la contraseña?</a></p>
            <div class="modal fade" id="nimodo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" style="background: rgba(19, 35, 47, 1); color: rgb(184, 184, 184)">
                  <div class="modal-header" style=" border:0">
                    <h5 class="modal-title" id="exampleModalLabel">Uy! pues nimodo :/</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#fff;">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Se la voy a deber joven, ahorita no hay sistema :/</p>
                  </div>
                </div>
              </div>
            </div>
            <button class="button button-block">Ingresar</button>
          </form>
        </div>
        <!--/.Panel 2-->
</div>
<div>