.ellogin {
    display: table;
    width: 100%;
    height: 100vh;
    background: url("../../assets/fondoinicio.jpg") fixed center top no-repeat;
    background-size: cover;
  }

#login{
    color: #dfdfdf;
    width: 60%;
    margin: 20% 20% auto 20%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  @media only screen and (max-width: 500px) {
      #login {
          width: 100%;
          margin: 10% auto auto auto;
      }
  }
  
  @media only screen and (max-width: 640px) {
      #login{
          margin: 10% auto auto auto;
      }
  }